<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hjnu.dao.TravelItemMapper">

    <!--void add(TravelItem travelItem);-->
    <insert id="add">
        insert into t_travelitem values
        (
            null,
            #{code},
            #{name},
            #{sex},
            #{age},
            #{price},
            #{type},
            #{remark},
            #{attention}
        )
    </insert>

    <!--Page<TravelItem> findTravelItemByQueryString(@Param("queryString")String queryString);-->
    <select id="findTravelItemByQueryString" resultType="TravelItem">
        select * from t_travelitem 
        <where>
            <if test="queryString != '' and queryString != null ">
                code = #{queryString} or name like "%"#{queryString}"%"
            </if>
        </where>
    </select>

    <!--void delete(@Param("id") Integer id);-->
    <delete id="delete">
        delete from t_travelitem where id = #{id}
    </delete>

    <!--    TravelItem findById(Integer id);-->
    <select id="findById" resultType="TravelItem">
        select * from t_travelitem where id = #{id}
    </select>

    <!--    void update(TravelItem travelItem);-->

    <update id="update">
        update t_travelitem set
            code = #{code}，
            name = #{name}，
            sex = #{sex}，
            age = #{age}，
            price = #{price}，
            type = #{type}，
            remark = #{remark}，
            attention = #{attention}
    </update>

</mapper>
